*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  background-color: #eeeeee;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
