/* H E A D E R */

.header {
  background-image: url(../assets/4473133296ab859781bef7d0f6f8e83c.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top;
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-logo {
  width: 6.3rem;
  height: 6.3rem;
}

.heading-primary {
  color: #ffffff;
  font-size: 4.8rem;
  line-height: 6.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.heading-primary-sub {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
}

/* S E C T I O N, G E N E R A L - R U L E S  */

.main {
  text-align: center;
}

/* S E C T I O N  1 */

.section1-headline {
  font-size: 4.8rem;
  color: #464547;
  margin-top: 8.7rem;
  margin-bottom: 4rem;
  line-height: 6.4rem;
}

.section1-headline-sub {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #666666;
  font-weight: 100;
  margin-bottom: 4.8rem;
}

.section1-paragraph {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #000000;
  font-weight: 400;
  margin-bottom: 3.5rem;
}

.btn-read-more {
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 2.6rem;
  border-radius: 1.8rem;
  border: none;
  width: 15rem;
  height: 3.6rem;
  background-color: #55c2d8;
  letter-spacing: 1.5px;
}

/* S E C T I O N  2 */

.section2 {
  margin-top: 10.4rem;
  background-image: linear-gradient(
      rgba(140, 79, 42, 0.3),
      rgba(140, 79, 42, 0.3)
    ),
    url(../assets/Mask\ Group);

  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 66.6rem;
}

/*
.section2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(140, 79, 42, 0.3); */ /* Color overlay */

.section2-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section2-heading {
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 5.3rem;
}

.btn-section2 {
  width: 14rem;
  height: 14rem;
  background-color: rgba(57, 194, 215, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 10rem;
  border: none;
  font-size: 5rem;
}

.section2-paragraph {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: rgba(255, 255, 255, 1);
  margin-top: 7rem;
  font-weight: 400;
}

/* F O O T E R */

.footer {
  background-color: rgba(70, 69, 71, 1);
  height: 17rem;
  width: 100%;
}

.footer-div {
  margin-left: 14rem;
}

.footer-logo {
  margin-top: 2.1rem;
  width: 2rem;
  height: 2rem;
  margin-right: 1.6rem;
}

.footer-project {
  font-size: 1.8rem;
  line-height: 1.6rem;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 3px;
  text-transform: uppercase;
}

address,
.mail,
.footer-span {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.6rem;
  line-height: 2rem;
  font-style: normal;
}
